<section class="app">
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li *ngIf="!logged" class="menu-item nav-item">
          <a class="nav-link" href="/register">{{'REGISTER' | translate}}</a>
        </li>
        <li *ngIf="!logged" class="menu-item nav-item">
          <a class="nav-link" href="/">{{'LOGIN_SCREEN' | translate}}</a>
        </li>
        <li *ngIf="logged" class="menu-item nav-item">
          <a class="nav-link" href="/projects">{{'PROJECTS' | translate}}</a>
        </li>
        <li *ngIf="logged" class="menu-item nav-item">
          <a (click)="logout()"  class="nav-link" >{{'LOGOUT' | translate}}</a>
        </li>
        
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
